@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  background-color: #412672;
  color: #fff;
  font-size: 15px;
  line-height: 1.2;
}
.header,
.footer {
  background-color: #e5e5e5;
  min-height: 60px;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}
.team {
  padding-top: 61px;
  padding-bottom: 102px;
}
.team__container {
  padding-left: 10px;
  padding-right: 10px;
}

.team__text-title {
  font-size: 38px;
  margin-bottom: 31px;
}

.title-team {
  display: flex;
  flex-direction: column;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #4f4f4f;
}
.team__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0),
    0px 246px 98px 0px rgba(0, 0, 0, 0.01),
    0px 138px 83px 0px rgba(0, 0, 0, 0.05),
    0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.1);
  flex-basis: 387px;
  transition: background-color 0.3s ease;
}
.team__item:hover {
  background-color: #ffbe48;
}
.team__item > *:not(:last-child) {
  margin-bottom: 16px;
}
.team__item > img {
  height: 266px;
}
.team__name {
  font-size: 22px;
  font-weight: 600;
}
.team__item p {
  flex-grow: 1;
}
.team__link {
  transition: text-decoration 0.3s ease;
  color: #fe3f3f;
}
.team__link:hover {
  text-decoration: underline;
}
.faculty {
  background-color: #fff;
  padding-top: 55px;
  padding-bottom: 72px;
}
.faculty__container {
  display: flex;
  column-gap: 90px;
  flex-wrap: wrap;
}
.faculty__text {
  align-self: center;
  flex: 0 0 512px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #412672;
  line-height: 1.26;
}
.faculty__text > *:not(:last-child) {
  margin-bottom: 20px;
}
.faculty__title {
  display: flex;
  flex-direction: column;
  font-size: 34px;
  color: #412672;
}
.faculty__container p {
  color: #412672;
  font-size: 22px;
}

.faculty__list {
  color: #4f4f4f;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.faculty__list > *:not(:last-child) {
  margin-bottom: 26px;
}
.faculty__list li {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}
.faculty__list li::before {
  content: "";
  background: url("../img/frame.svg") 0 0 / 100% no-repeat;
  height: 29px;
  flex-basis: 29px;
  align-self: flex-start;
  flex-shrink: 0;
}
.faculty__img {
  margin-right: -172px;
  max-width: 100%;
  background: lightgray 50% / cover no-repeat;
}
.advantages {
  padding: 70px 0;
}
.advantages__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 35px;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.advantages__list > li {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.advantages__list > li > img {
  flex-shrink: 0;
  align-self: center;
}

.advantages__list > li > p {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.advantages__list > li > p > strong {
  font-size: 24px;
  text-align: center;
}
