@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.header,
.footer {
  background-color: #f2f2f2;
  min-height: 40px;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.products-block--padding {
  padding: 32px 0;
}
[class*="__container"] {
  max-width: 1350px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.products-block__title-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}
.products-block__btn {
  display: flex;
  gap: 12px;
  align-items: center;
  color: #00b207;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.products-block__title-box button::after {
  content: "";
  width: 15px;
  height: 12px;
  background: url("../icons/arrow.svg") no-repeat center center;
}
.products-block__title-box button:hover {
  text-decoration: underline;
}
.products-block__btn button:hover {
  transition: transform 0.3s;
  transform: scaleX(1);
}
.list-products__items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.list-products__items li {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e6e6e6;
  flex-basis: 264px;
  flex-shrink: 0;
  height: 327px;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.list-products__item .list-products__bag {
  background-color: #f2f2f2;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  stroke: #1a1a1a;
}

.list-products__item .list-products__bag:hover {
  background-color: #00b207;
  stroke: #ffffff;
}
.list-products__item .list-products__bag:active {
  background-color: #2c742f;
}
.list-products__item p {
  color: #1a1a1a;
}
.list-products__item span {
  color: #999999;
  text-decoration: line-through;
}
