@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Poppins", sans-serif;
  color: #eeebeb;
  font-size: 18px;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
}
.header,
.footer {
  background-color: #bbdbf8;
  width: 100%;
  padding: 10px;
  font-size: 12px;
}

[class*="-container"]:not(h1) {
  padding: 30px;
  margin: 0 auto;
  width: 100%;
}
[class*="__title"],
.transform-3d > p:not(:last-child) {
  margin-bottom: 20px;
}
.practice-container {
  background-color: #f9f9d5;
  min-height: 600px;
  color: #000;
}

.translate__item {
  max-width: 200px;
  width: 100%;
  max-height: 200px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
}
.translate__item:not(:last-child) {
  margin: 0 20px 20px 0;
}
.block-3d__item {
  margin-bottom: 20px;
}
[class*="-shift"] {
  max-width: 150px;
  width: 100%;
}
.translate__item:hover .translate__horizontal-shift {
  transform: translateX(20px);
}
.translate__item:hover .translate__vertical-shift {
  transform: translateY(20px);
}
.translate__item:hover .translate__double-shift {
  transform: translate(20px, 20px);
}
.translate__item:hover .translate__double-new-shift {
  translate: 30% 130%;
}
.translate__item:hover .translate__scalex-shift {
  transform: scaleX(1.2);
}
.translate__item:hover .translate__scaley-shift {
  transform: scaleY(1.2);
}
.translate__item:hover .translate__scale-shift {
  transform: scale(1.2);
}
.translate__item:hover .translate__scale-new-shift {
  scale: 1.2;
}
.translate__item:hover .translate__rotatex-shift {
  transform: rotateX(80deg);
}
.translate__item:hover .translate__rotatey-shift {
  transform: rotateY(80deg);
}
.translate__rotatex-shift,
.translate__rotatey-shift {
  pointer-events: none;
}

.translate__item:hover .translate__rotate-shift {
  transform: rotate(80deg);
}
.translate__item:hover .translate__rotate-new-shift {
  rotate: 80deg;
}
.translate__item:hover .translate__skewx-shift {
  transform: skew(-20deg, 0deg);
}
.translate__item:hover .translate__skewy-shift {
  transform: skew(0deg, -20deg);
}
.translate__item--size {
  font-size: 12px;
}
.translate__item:hover .translate__matrix-shift {
  transform: translate(20%, 20%) scale(0.5) rotate(30deg) skew(20deg, 20deg);
}
.translate__item:hover .translate__origin-shift {
  transform-origin: 0 0;
  transform: rotate(20deg);
}
.translate__item:hover .translate__origin-shift {
  transform-origin: left top;
  transform: rotate(20deg);
}

.item-3d {
  max-width: 200px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
}
.block-3d__item {
  perspective: 300px;
  transform-style: preserve-3d;
}
.item-3d:hover .item-3d__style-shift {
  transform: rotateY(180deg);
}

.banknote-block {
  max-width: 300px;
  position: relative;
}
.banknote-block__banknote-back {
  position: absolute;
  top: 0;
  left: 0;
}
.banknote-block__banknote-front {
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.banknote-block:hover .banknote-block__banknote-back {
  transform: rotateX(0deg);
}
.banknote-block:hover .banknote-block__banknote-front {
  transform: rotateX(-180deg);
}

/* ///////////////////////////////////// */

.picture-container {
  background-color: #c3eefc7a;
  height: 900px;
  width: 100%;
  position: relative;
}
.decorations {
  position: relative;
}
.decorations__sun {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 50px;
  background-color: #fbdc7edc;
  box-shadow: 5px 10px 80px 20px #fbdc7edc;
  border: 3px dotted #fbd668;
  outline: 3px double #fbd668;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.decorations__sun:hover {
  box-shadow: 15px 20px 90px 30px #f87b22ba;
}
.decorations__clouds {
  top: 130px;
  left: 170px;
  width: 350px;
  height: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 90%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 50%;
  position: relative;
  background-color: #ffffff;
  box-shadow: 5px 20px 180px 30px #cbf5ffe4;
  transition: all 0.4s;
}

.decorations__cloud01 {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 170px;
  width: 90px;
  height: 70px;
  background-color: #fffffff2;
  border-radius: 40px;
}
.decorations__cloud02 {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 120px;
  width: 50px;
  height: 50px;
  background-color: #fffffff2;
  border-radius: 50%;
}
.decorations__cloud03 {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 10px;
  width: 80px;
  height: 70px;
  background-color: #fffffff2;
  border-radius: 80px;
}
.decorations__cloud04 {
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 70px;
  width: 70px;
  height: 90px;
  background-color: #fffffff2;
  border-radius: 50%;
}
.decorations__cloud05 {
  position: absolute;
  z-index: 1;
  top: -35px;
  left: 255px;
  width: 80px;
  height: 55px;
  background-color: #fffffff2;
  border-radius: 50%;
}
.decorations__cloud-small {
  top: 200px;
  left: 20px;
  width: 150px;
  height: 30px;
  position: relative;
  background-color: #ffffff04;
  transition: all 0.6s;
}
.decorations:has(.decorations__sun:hover) .decorations__clouds {
  box-shadow: 5px 20px 200px 60px #8dc5f9;
}

.decorations:has(.decorations__sun:hover) .decorations__cloud-small {
  box-shadow: 5px 40px 180px 30px #38b0f5;
}

.decorations__cloud06 {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 40px;
  width: 70px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 50%;
}
.decorations__cloud07 {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
}
.decorations__cloud08 {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 70px;
  width: 100px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
}

.car {
  position: absolute;
  bottom: 150px;
  left: 300px;
  width: 500px;
  height: 200px;
  background-color: #1f1c1c;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  perspective: 500px;
}

.car__roof {
  transform: rotateX(30deg);
  position: absolute;
  bottom: 160px;
  left: 55px;
  width: 400px;
  height: 200px;
  background-color: #1f1c1c;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
.car__window {
  transform: rotateX(30deg);
  position: absolute;
  bottom: 190px;
  left: 85px;
  width: 340px;
  height: 130px;
  background-color: #ffffffbd;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.car__steering-wheel {
  position: absolute;
  top: -25px;
  right: 80px;
  width: 100px;
  height: 70px;
  border: 10px solid #1f1c1c;
  border-radius: 50%;
}

.headlights {
  position: relative;
  top: 50px;
  left: 45px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.headlights__left {
  display: inline-block;
  margin-right: 190px;
  width: 110px;
  height: 40px;
  background-color: #ffffffee;
  border-top-left-radius: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 50px;
  transform: rotate(10deg);
  transition: all 0.8s;
}
.headlights__right {
  display: inline-block;
  width: 110px;
  height: 40px;
  background-color: #ffffffee;
  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 5px;
  transform: rotate(-10deg);
  transition: all 0.8s;
}
.car:hover .headlights__right,
.car:hover .headlights__left {
  box-shadow: 0px 0px 5px 10px #ffffff;
}
.car__audi {
  transform: rotateX(20deg);
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.wheels__left {
  position: absolute;
  bottom: -20px;
  left: 10px;
  width: 100px;
  height: 40px;
  background-color: #1f1c1c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.wheels__right {
  position: absolute;
  bottom: -20px;
  right: 10px;
  width: 100px;
  height: 40px;
  background-color: #1f1c1c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.mirrors__left {
  position: absolute;
  top: -40px;
  left: 3px;
  width: 40px;
  height: 30px;
  background-color: #1f1c1c;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 30px;
}
.mirrors__right {
  position: absolute;
  top: -40px;
  right: -8px;
  width: 40px;
  height: 30px;
  background-color: #1f1c1c;
  border-top-right-radius: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 5px;
}
