@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Poppins", sans-serif;
  color: #eeebeb;
  font-size: 18px;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
}
.header,
.footer {
  background-color: #bbdbf8;
  width: 100%;
  padding: 10px;
  font-size: 12px;
}

.picture-container {
  background-color: #c3eefc7a;
  height: 900px;
}
[class*="-container"] {
  padding: 30px;
  margin: 0 auto;
  width: 100%;
}
.decorations {
  position: relative;
}
.decorations__sun {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 110px;
  outline: 2px dotted #f8dc89dc;
  background-color: #f8dc899d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 15px 20px 90px 30px #ff6b01ba;
}

.decorations__clouds {
  top: 130px;
  left: 170px;
  width: 350px;
  height: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 90%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 50%;
  position: relative;
  background-color: #ffffff;
  box-shadow: 5px 20px 180px 30px #cbf5ffe4;
}

.decorations__cloud01 {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 170px;
  width: 90px;
  height: 70px;
  background-color: #fffffff2;
  border-radius: 40px;
}
.decorations__cloud02 {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 120px;
  width: 50px;
  height: 50px;
  background-color: #fffffff2;
  border-radius: 50%;
}
.decorations__cloud03 {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 10px;
  width: 80px;
  height: 70px;
  background-color: #fffffff2;
  border-radius: 80px;
}
.decorations__cloud04 {
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 70px;
  width: 70px;
  height: 90px;
  background-color: #fffffff2;
  border-radius: 50%;
}
.decorations__cloud05 {
  position: absolute;
  z-index: 1;
  top: -35px;
  left: 255px;
  width: 80px;
  height: 55px;
  background-color: #fffffff2;
  border-radius: 50%;
}
.decorations__cloud-small {
  top: 200px;
  left: 20px;
  width: 150px;
  height: 1px;
  position: relative;
  background-color: #ffffff04;
  box-shadow: 5px 20px 180px 30px #1cc5db;
}
.decorations__cloud06 {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 40px;
  width: 70px;
  height: 90px;
  background-color: #fffffff1;
  border-radius: 50%;
}
.decorations__cloud07 {
  position: absolute;
  z-index: 1;
  top: -1px;
  width: 70px;
  height: 55px;
  background-color: #fffffff3;
  border-radius: 50%;
}
.decorations__cloud08 {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 70px;
  width: 100px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
}

.plane {
  position: absolute;
  top: 400px;
  left: 400px;
  width: 500px;
  height: 200px;
  background-color: #c6ba0a;
  border-radius: 16% 84% 61% 39% / 100% 65% 35% 0%;
}
.plane__nose {
  position: relative;
  width: 70px;
  height: 100px;
  left: -59px;
  bottom: -100px;
  border-radius: 100% 0% 0% 100% / 39% 39% 61% 61%;
  background-color: #3f2bef;
}
.plane__nose::after {
  content: "";
  position: absolute;
  left: 33px;
  top: 2px;
  border-radius: 41% 59% 23% 77% / 58% 53% 47% 42%;
  background-color: #3f2bef;
  width: 66px;
  height: 100px;
}
/* //////////////////////////////////////// */
.practice-container {
  background-color: #f9f9d5;
  min-height: 600px;
  color: #000;
}

.translate__item {
  width: 200px;
  height: 200px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
}
.translate__item:not(:last-child) {
  margin: 0 20px 20px 0;
}
.block-3d__item {
  margin-bottom: 20px;
}
[class*="-shift"] {
  width: 150px;
}
.translate__horizontal-shift:hover {
  transform: translateX(20px);
}
.translate__vertical-shift:hover {
  transform: translateY(20px);
}
.translate__double-shift:hover {
  transform: translate(20px, 20px);
}
.translate__double-new-shift:hover {
  translate: 30% 130%;
}
.translate__scalex-shift:hover {
  transform: scaleX(1.2);
}
.translate__scaley-shift:hover {
  transform: scaleY(1.2);
}
.translate__scale-shift:hover {
  transform: scale(1.2);
}
.translate__scale-new-shift:hover {
  scale: 1.2;
}
.translate__rotatex-shift:hover {
  transform: rotateX(80deg);
}
.translate__rotatey-shift:hover {
  transform: rotateY(80deg);
}
.translate__rotate-shift:hover {
  transform: rotate(80deg);
}
.translate__rotate-new-shift:hover {
  rotate: 80deg;
}
.translate__skewx-shift:hover {
  transform: skew(-20deg, 0deg);
}
.translate__skewy-shift:hover {
  transform: skew(0deg, -20deg);
}
.translate__item--size {
  font-size: 12px;
}
.translate__matrix-shift:hover {
  transform: translate(20%, 20%) scale(0.5) rotate(30deg) skew(20deg, 20deg);
}
.translate__origin-shift:hover {
  transform-origin: 0 0;
  transform: rotate(20deg);
}
.translate__origin-shift:hover {
  transform-origin: left top;
  transform: rotate(20deg);
}
.item-3d {
  width: 200px;
  height: 200px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
}
.block-3d__item {
  perspective: 300px;
  transform-style: preserve-3d;
}
.item-3d__style-shift:hover {
  transform: rotateY(180deg);
}

.banknote-block {
  max-width: 300px;
  position: relative;
}
.banknote-block__banknote-back {
  position: absolute;
  top: 0;
  left: 0;
}
.banknote-block__banknote-front {
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.banknote-block:hover .banknote-block__banknote-back {
  transform: rotateX(0deg);
}
.banknote-block:hover .banknote-block__banknote-front {
  transform: rotateX(-180deg);
}
