@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  font-size: 14px;
}

.info__button {
  background-color: #00b207;
  border-radius: 43px;
  max-width: 192px;
}
.info__button span {
  display: inline-block;
  vertical-align: middle;
  color: #ffff;
}

.info__button {
  padding: 16px 40px;
}
