@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  font-size: 18px;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
}
.header,
.footer {
  background-color: #f2f2f2;
  min-height: 30px;
  width: 100%;
  padding: 10px;
  font-size: 12px;
}

.section-top {
  max-width: 1920px;
  width: 100%;
  min-height: 800px;
}
.box-title {
  padding: 20px;
  background-color: #c3dcae74;
}
.box-title__title {
  font-size: 30px;
}

.container {
  padding: 0 20px;
}
.box-button {
  margin: 0 auto;
  width: 100%;
}
.box-button__title,
.box-button__text-btn {
  display: inline-block;
  vertical-align: middle;
}

.box-button__title {
  color: #1a1a1a;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  width: 70%;
}

.box-button__text-btn {
  color: #00b207;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  width: 29%;
  text-align: end;
}
.box-button__img {
  width: 15px;
  height: 12px;
}
.box-button__text-btn:hover {
  text-decoration: underline;
}
.card-product {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 312px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.card-product:hover {
  border: 1px solid #20b526;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-product__block-description {
  padding: 11px;
  display: inline-block;
  max-width: 236px;
  width: 100%;
}
.card-product__text-link {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.card-product:hover .card-product__text-link {
  color: #2c742f;
}
.card-product__text-link:hover {
  text-decoration: underline;
}
.card-product__price-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.card-product__basket {
  display: inline-block;
}

.card-product__basket .card-product__icon-link svg {
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  stroke: #1a1a1a;
}
.card-product:hover .card-product__icon-link svg {
  background-color: #00b207;
  stroke: #fff;
}
.card-product:hover .card-product__icon-link:hover svg {
  background-color: #2c742f;
}

.hidden-images svg {
  display: block;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.hidden-images a {
  display: block;
}
.hidden-images a:not(:last-child) {
  margin-bottom: 6px;
}
.hidden-images {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 16px;
  right: 16px;
}
.card-product:hover .hidden-images {
  opacity: 1;
  visibility: visible;
  stroke: #1a1a1a;
}
.card-product:hover .hidden-images svg:hover {
  stroke: #fff;
  background-color: #00b207;
  border: none;
}
.card-product:hover .hidden-images__like svg:active {
  stroke: #00b207;
  fill: #00b207;
  background-color: #fff;
  border: 1px solid #f2f2f2;
}

.rating {
  direction: rtl;
  text-align: left;
  padding-left: 5px;
}
.rating__icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  writing-mode: vertical-rl;
}
.rating__icon svg {
  fill: #cccc;
}
.rating__icon:hover svg,
.rating__icon:hover ~ .rating__icon svg {
  fill: #ff8a00;
}
/* /////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////*/

.section-bottom {
  font-family: "Roboto", sans-serif;
  background-color: #5a54f2;
  color: #ffff;
  position: relative;
  border: none;
}

.section-bottom__container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.section-bottom__block {
  max-width: 1480px;
  width: 100%;
  text-align: center;
  font-size: 0;
}

.section-bottom::before {
  position: absolute;
  left: -5%;
  width: 110%;
  height: 55px;
  content: "";
  top: 0;
  border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
  background-color: #fff;
}
.section-bottom::after {
  position: absolute;
  left: -5%;
  width: 110%;
  height: 55px;
  content: "";
  bottom: 0;
  border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
  background-color: #231f8b;
}

.section-bottom__block:not(:last-child) {
  margin-bottom: 85px;
}

.section-bottom__wrapper-img-top,
.section-bottom__wrapper-img-bottom {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.section-bottom__wrapper-img-top::before {
  width: 65px;
  height: 65px;
  top: 30%;
  left: -30%;
}

.section-bottom__wrapper-img-top::before,
.section-bottom__wrapper-img-top::after {
  content: "";
  position: absolute;
  z-index: 1;
  border: 5px solid #ffba49;
  border-radius: 50%;
}
.section-bottom__wrapper-img-top::after {
  width: 401px;
  height: 401px;
  top: 40%;
  left: -25%;
}
.section-bottom__wrapper-img-top {
  border-radius: 20px;
  margin-right: 70px;
  box-shadow: -25px 20px 44px 0px rgb(83, 48, 209, 0.4);
}
.description {
  display: inline-block;
  text-align: start;
  vertical-align: top;
  padding-top: 97px;
}
.description--reverse {
  padding-top: 0;
}
.description__title {
  font-family: "Circular", sans-serif;
  max-width: 602px;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 13px;
}
.description p {
  font-size: 18px;
  line-height: 1.66;
  max-width: 480px;
  width: 100%;
}

.description__title--width {
  max-width: 506px;
  width: 100%;
}
.description > p:not(:last-child),
.description > a:not(:last-child) {
  margin-bottom: 39px;
}

.section-bottom__container::before,
.section-bottom__container::after {
  content: "";
  position: absolute;
  background-image: radial-gradient(#70c217 3.5px, transparent 4px);
  background-size: 58.63px 58.63px;
  width: 100%;
  height: 100%;
}
.section-bottom__container::before {
  top: 25%;
  left: 6%;
  max-width: 300px;
  max-height: 605px;
}
.section-bottom__container::after {
  bottom: 8%;
  right: 2%;
  max-width: 605px;
  max-height: 300px;
}

.section-bottom__block--reverse {
  padding-bottom: 96px;
  margin-left: auto;
  max-width: 1480px;
  width: 100%;
}

.section-bottom__wrapper-img-bottom {
  margin-top: -110px;
  bottom: -96px;
  border-radius: 20px;
  box-shadow: 22px 42px 44px 0px rgb(0, 0, 0, 0.3);
}

.section-bottom__wrapper-img-bottom::before {
  top: -8%;
  left: 20%;
  z-index: 11;
  width: 65px;
  height: 65px;
}
.section-bottom__wrapper-img-bottom::before,
.section-bottom__wrapper-img-bottom::after {
  content: "";
  border-radius: 50%;
  border: 5px solid #ffba49;
  position: absolute;
}

.section-bottom__wrapper-img-bottom::after {
  top: -5%;
  right: -30%;
  z-index: 1;
  width: 262px;
  height: 262px;
}

.section-bottom__img,
.section-bottom__img--reverse {
  position: relative;
  z-index: 10;
  border-radius: 20px;
  max-width: 430px;
  width: 100%;
  max-height: 548px;
  height: 100%;
}

.description--reverse {
  margin-right: 70px;
}

.button {
  max-width: 256px;
  font-weight: 500;
  border-radius: 60px;
  background: #f35b09;
  padding: 22px 26px;
  text-align: center;
  font-size: 18px;
}
.button:hover {
  outline: 1px solid #ffff;
}
.section-additional {
  background-color: #231f8b;
}
