@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  background-color: #ffff;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 1.5;
}
.header,
.footer {
  background-color: #f7f7f7;
  min-height: 40px;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.user-form {
  max-width: 872px;
  width: 100%;
}
.cart {
  padding: 32px 0;
}
[class*="__container"] {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}
.title {
  font-size: 32px;
}
label {
  display: block;
}
.user-form input {
  font-size: 16px;
  padding: 14px 16px 14px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.billing__name {
  display: flex;
  gap: 16px;
}
.billing__name input {
  min-width: 280px;
  width: 100%;
}
.order img {
  width: 60px;
  height: 60px;
}
.order-form {
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  padding: 24px;
}

.order-form {
  max-width: 424px;
  width: 100%;
}
