@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.header,
.footer {
  background-color: #f7f7f7;
  min-height: 40px;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.cart {
  padding: 32px 0;
}
[class*="__container"] {
  max-width: 1350px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.box-form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.cart__title--hidden {
  visibility: hidden;
}
[class*="__title"] {
  font-size: 24px;
  margin-bottom: 20px;
}
[class*="title--small"] {
  font-size: 20px;
  margin-bottom: 16px;
}
label {
  display: block;
}

.user-form label:not(:last-child) {
  margin-bottom: 8px;
}

input:focus::placeholder {
  opacity: 0;
}
input::placeholder {
  color: #999;
  line-height: 1.3;
}
.user-form,
.order-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
.user-form input {
  margin-bottom: 16px;
}
.user-form input,
.billing__city input,
.billing__city select,
.additional textarea {
  font-size: 16px;
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}
input:focus,
select:focus,
textarea:focus {
  outline: 1px solid #00b207;
  box-shadow: 0px 0px 5px 0px rgba(32, 181, 38, 0.32);
}
.additional textarea {
  min-height: 100px;
  max-height: 300px;
  height: 100%;
  resize: vertical;
}
.billing__city select {
  min-height: 49px;
}
.billing__name,
.billing__city {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}
.billing__name input,
.billing__city input,
.billing__city select {
  min-width: 280px;
  width: 100%;
  max-height: 49px;
  height: 100%;
}
select {
  appearance: none;
}
select:invalid {
  color: #999;
}
select:valid {
  color: #1a1a1a;
}

.billing__contact {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.billing__checkbox {
  display: flex;
  gap: 6px;
}
.billing__checkbox input {
  width: 20px;
  height: 20px;
}

.billing__contact div {
  min-width: 428px;
  width: 100%;
}
.billing__city {
  position: relative;
}
#country + img {
  position: absolute;
  top: 50px;
  left: 250px;
  width: 10px;
  height: 5px;
  cursor: pointer;
}
#states + img {
  position: absolute;
  top: 50px;
  left: 550px;
  width: 10px;
  height: 5px;
  cursor: pointer;
}

/* //////////////////////////////////////// */

.billing__checkbox,
.payment__item {
  position: relative;
}
.billing__checkbox input,
.payment__item input {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.billing__checkbox input:focus + label::before,
.payment__item input:focus + label::before,
.order a:focus {
  outline: 2px solid #00b307;
  box-shadow: 0 0 0 3px rgba(0, 179, 7, 0.3);
  padding: 2px;
  border-radius: 4px;
  transition: outline 0.3s ease;
}

.billing__checkbox input:hover + label::before,
.payment__item input:hover + label::before {
  border: 1px solid #00b307;
  transition: border 0.3s ease;
  cursor: pointer;
}
.billing__checkbox input:checked + label::before {
  background-image: url("../img/check-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00b207;
}
.billing__checkbox label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.billing__checkbox label::before {
  width: 20px;
  height: 20px;
  content: "";
  align-self: flex-start;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

/* //////////////////////////////////////////// */

.billing__name span,
.additional span {
  color: #999;
}

.order-form {
  max-width: 424px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  padding: 24px;
}

.order img {
  width: 60px;
  height: 60px;
}

.order__item {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  align-items: center;
}
.order__item:not(:last-child) {
  margin-bottom: 16px;
}
.order__product {
  display: flex;
  align-items: center;
  gap: 6px;
}
.order__product input {
  max-width: 45px;
  width: 100%;
  padding: 0 3px;
}

.order__price {
  align-items: flex-end;
}

.order__img-link,
.order__link {
  transition: all 0.3s ease-in-out;
}
.order__img-link:hover img,
.order__img-link:focus-visible img {
  scale: 1.1;
}
.order__link:hover {
  scale: 1.02;
  text-decoration: underline;
}
.order__item--total {
  flex-direction: column;
  align-items: flex-start;
}
.order__item--total div {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__item--total div {
  color: #4d4d4d;
  padding: 13px 0;
}

.order__item--total div:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}
.order__span {
  color: #1a1a1a;
  font-weight: 500;
}
.order__span--weight {
  font-size: 18px;
  font-weight: 600;
}
.order__text--weight {
  font-size: 16px;
}
.order__product .order__label {
  margin-bottom: 0;
}

/* Payment Method */

.payment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.payment__item {
  display: inline-block;
  text-align: start;
}

.payment__item label::before {
  width: 20px;
  height: 20px;
  cursor: pointer;

  content: "";
  align-self: flex-start;
  border-radius: 50%;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  transition: border 0.3s ease;
  margin-right: 6px;
}

.payment__item input:checked + label::before {
  background-image: url("../img/circle-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #00b207;
}

.btn-submit {
  width: 100%;
  border-radius: 43px;
  background-color: #00b207;
  padding: 16px 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}
