@import url("reset.css");
@import url("fonts.css");
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #1b1f19;
  font-weight: 400;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
}
.header {
  font-family: "Segoe", sans-serif;
  padding: 0 30px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  letter-spacing: 5px;
  background: url("../img/apples.jpg") 0 0 / 100% no-repeat;
  box-shadow: #1b1f19 0px 0px 20px 0px;
  background-attachment: fixed;
}
.page {
  padding: 30px;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.main-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  border: 3px dotted #00b207;
}

.descriptions {
  color: #808080;
}
.descriptions p,
ul {
  padding-bottom: 20px;
}

.item {
  vertical-align: middle;
  background: url("../img/check.svg") 0 0 / 20px no-repeat;
  padding-left: 28px;
  min-height: 25px;
  margin-bottom: 14px;
}
.deleted-margin {
  margin-bottom: 0;
}

.blocl-padding-bottom {
  padding-bottom: 100px;
}
.blocl-padding-bottom h2 {
  text-align: center;
  background: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.hydra-block {
  font-family: "Montserrat", sans-serif;
  background-color: #343045;
  padding: 0 100px;
  color: #ffff;
  font-weight: 400;
}
.contacts {
  font-size: 0px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 30px 40px;
  margin-bottom: 100px;
  text-align: center;
  border-radius: 90px;
  background: radial-gradient(
    circle,
    rgba(58, 52, 86, 0.95) 0%,
    hsl(251, 21%, 15%) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.contacts p {
  font-size: 24px;
  font-weight: 700;
}

.box {
  display: inline-block;
  vertical-align: middle;
  padding-right: 60px;
}
.box img {
  padding-right: 30px;
}
.box-text {
  display: inline-block;
  text-align: start;
  vertical-align: middle;
}
.box-text p {
  padding-bottom: 10px;
}
.vertical-line {
  width: 1px;
  min-height: 116px;
  background-color: #c0b7e8;
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}
.about-box {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding-bottom: 100px;
  font-size: 0;
  text-align: center;
  background: url("../img/vector7.svg") 12px 4px/ 100% no-repeat,
    url("../img/vector8.svg") 40px 310px / 100% no-repeat;
}
.about-img,
.about-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.about-img {
  max-width: 524px;
  width: 100%;
  margin-right: 110px;
}
.about-box img {
  border-radius: 240px 100px;
  background: #a3a3a3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about-subtitle-bold {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-subtitle {
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 42px;
  text-transform: uppercase;
}
.about-descriptions {
  font-size: 16px;
  padding-bottom: 28px;
}
.about-btn {
  color: #343045;
  font-weight: 700;
  text-align: center;
  padding: 17px 40px;
  font-size: 12px;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 214px;
  text-transform: uppercase;
}

.about-text {
  max-width: 600px;
  width: 100%;
  padding: 50px 0;
}
.box a {
  font-size: 14px;
}
